ion-content{
  // --background: linear-gradient(120deg, #b4c0e2, #d7d8da);
  --background: linear-gradient(120deg, #eefcfb, #e3e7e7);

}
form > ion-item{
  // --background:  linear-gradient(135deg, var(--ion-color-light), var(--ion-color-primary-custom2));
  // --background: linear-gradient(120deg, #b4c0e2, #d7d8da); 
  --background: linear-gradient(120deg, #eefcfb, #e3e7e7);

}

ion-col{
  text-align: center;
}

ion-card{
  border-radius: 0px 20px 0px 20px
}
.cardheader{
  text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(76, 76, 92);
}

.card-div{
  margin-bottom: 9px;
}
.img-div{
padding: 20px;
display: inline-block;
float: left;
position: relative;
background: linear-gradient(135deg, #f08bd4, #ab51cb);
border-radius: 0px 0px 0px 20px;
}
.name-div{
padding: 10px;
border-left: 1px solid gray;
background: honeydew;
line-height: 20pt;
color:var(--ion-color-primary-custom);
font-family: -webkit-body;
border-radius: 0px 20px 0px 0px
}

.vcard-div{
  margin-bottom: 9px;
  border-radius: 0px 20px 0px 20px
}

.vimg-div{
padding: 5px;
display: inline-block;
float: left;
position: relative;
background: linear-gradient(135deg, #f08bd4, #ab51cb);
border-radius: 20px 0px 0px 20px;
vertical-align: center;
}

.vname-div{
padding: 20px;
border-left: 1px solid gray;
background: honeydew;
line-height: 20pt;
color:var(--ion-color-primary-custom);
font-family: -webkit-body;
border-radius: 0px 20px 20px 0px;
}

// .childname{
//     text-align: center;
//     color: #418386;
//     font-size: 15pt;
//     padding-left: 3px;
// }

// .childnamediv{
//   border: 1px solid cadetblue;
//   border-radius: 15px 40px;
//   text-align: center;
// }
.childcard{
  // color: var(--ion-color-black);
  // background:#2dd36f;
  // background: linear-gradient(90deg, pink , blue );
  border-radius:15px;
  padding: 4vh 2vh; 
  margin-bottom: 3vh;
  margin-left: 2vh;
  //box-shadow: 0px 2px 2px 2px #2eb7bf;
  box-sizing: border-box;
  font-size: 12pt;
}
.card{
  border-bottom: 1px solid rgb(192, 171, 171);
  margin-top:5vh;
}
.none{
  --background: linear-gradient(90deg, var(--ion-color-primary-custom2), var(--ion-color-primary-custom));
  //border-bottom: 1px solid cadetblue;
  margin-bottom: 3vh;
  //display: flex;
}

// .none:only-child {
//   border-bottom: 0px;
// }

ion-button{
  text-transform: none;
  // --background:  linear-gradient(135deg, #f08bd4, #ab51cb);
    //  color: var(--ion-color-light);
     text-transform: none;
     font-family: -webkit-body;
}

ion-fab-button{
  --background: linear-gradient(135deg, rgb(55, 185, 61), rgb(0, 255, 42));
}


.col{
    //border: think solid black;
    border: solid 1px rgb(224, 215, 215);
    border-bottom-style: solid 1px grey;
    border-right-style: solid 1px grey;
    }
.bgheader1{
    background-color: #003372;
}
.bgheader2{
    background-color: #366EB8
}
.bgcolum{
    background-color: #EEECED
}
ion-img{
    width: 70px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4066a8;
    color: white;
  }
  .done{
color: green;
  }
  .due{
color: gray;
  }

  .missed{
    color: rgb(158, 12, 12);
      }

      .next{
        color: rgb(158, 148, 12);
          }

          //
          .demo-non-form {
            color: initial;
            width: 100%;
            padding: 10px;
            margin: 6px 0 12px 0;
            border: 1px solid #ccc;
            border-radius: 0;
            font-family: arial, verdana, sans-serif;
            font-size: 14px;
            box-sizing: border-box;
            -webkit-appearance: none;
        }
        
        .external-container button.external-button {
            font-weight: 400;
            padding: 10px;
            margin: 6px 0 13px 0;
            width: 100%;
        }