<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" color="">About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div class="titletext">
    Vaccine.PK
  </div>
<ion-card>
  <ion-card-header>
    Free Consultation
  </ion-card-header>
  <ion-card-content>
    Consult your vaccine schedule with Child Specialist. It is important that you know your kids next vaccines.
  </ion-card-content>
</ion-card>
  
<ion-card>
  <ion-card-header>
    WHO Standards
  </ion-card-header>
  <ion-card-content>
    From procurement to storage and from base point to your kids, we follow WHO standards to maintain and administer vaccines.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    Auto Scheduling
  </ion-card-header>
  <ion-card-content>
    Never miss or delay your next vaccine. All scheduling is maintained automatically with SMS and mail notifications.
  </ion-card-content>
</ion-card>

</ion-content>