<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="change-password-form">
    <ion-item class="form-item">
      <ion-label position="floating">Old Password</ion-label>
      <ion-input type="password" formControlName="oldPassword" class="custom-input"></ion-input>
    </ion-item>
    <ion-item class="form-item">
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" formControlName="newPassword" class="custom-input"></ion-input>
    </ion-item>
    <ion-item class="form-item">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword" class="custom-input"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="changePasswordForm.invalid" class="submit-button">
      Change Password
    </ion-button>
  </form>
</ion-content>