<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fp-bg">
    <div class="fp-overlay">

      <div class="fp-brand">
        <ion-icon name="lock-open-outline" class="fp-brand-icon"></ion-icon>
        <h2 class="fp-brand-title">Forgot Password?</h2>
        <p class="fp-brand-sub">Enter your details and we'll send your password</p>
      </div>

      <div class="fp-card">

        <div class="fp-field">
          <ion-icon name="person-outline" class="fp-field-icon"></ion-icon>
          <ion-input placeholder="Child Name" type="text" autocapitalize="words" [(ngModel)]="childName"></ion-input>
        </div>

        <div class="fp-field">
          <ion-icon name="people-outline" class="fp-field-icon"></ion-icon>
          <ion-input placeholder="Father Name" type="text" autocapitalize="words" [(ngModel)]="fatherName"></ion-input>
        </div>

        <div class="fp-field fp-dob-field" (click)="dobModal.present()">
          <ion-icon name="calendar-outline" class="fp-field-icon"></ion-icon>
          <span class="fp-dob-label" [class.fp-dob-selected]="dobSelected">
            {{ dobSelected ? formattedDisplayDate : 'Date of Birth' }}
          </span>
          <ion-icon name="chevron-down-outline" class="fp-dob-chevron"></ion-icon>
        </div>

        <ion-modal #dobModal [breakpoints]="[0, 0.5]" [initialBreakpoint]="0.5">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-datetime
                presentation="date"
                [(ngModel)]="birthday1"
                (ionChange)="updateDate(); dobModal.dismiss()"
                [max]="todayStr">
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>

        <div class="fp-field">
          <ion-icon name="mail-outline" class="fp-field-icon"></ion-icon>
          <ion-input placeholder="Email Address" type="email" inputmode="email" [(ngModel)]="email"></ion-input>
        </div>

        <ion-button expand="full" class="fp-btn" [disabled]="isLoading" (click)="sendPassword2()">
          <ion-spinner *ngIf="isLoading" name="crescent" slot="start"></ion-spinner>
          <ion-icon *ngIf="!isLoading" name="send-outline" slot="start"></ion-icon>
          {{ isLoading ? 'Sending...' : 'Send Password' }}
        </ion-button>

      </div>
    </div>
  </div>
</ion-content>
