<ion-header>
  <ion-toolbar class="themeheader">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div>
    <div id="signin"> Resend Password</div>

    <div class="form-card ion-padding">

      <ion-item>
        <ion-input placeholder="e.g 03123456789" type="text" [(ngModel)] = "MobileNumber"></ion-input>
        <ion-icon name="call-outline"></ion-icon>
      </ion-item>

      <ion-button style="margin-left: 50%;" color="tertiary" fill="outline" shape="round" size="small"
              (click)="picker.open()">
              <ion-icon slot="start" name="calendar">
                <ion-datetime #picker picker-format="DD-MM-YYYY" value="[(birthday1)]"
                (ionChange)="updateDate()">
                </ion-datetime>
              </ion-icon>
              DOB
            </ion-button>

        <ion-button shape="round" expand="full" class="ion-margin-top"   (click)="sendPassword()">
          <ion-icon name="log-in"></ion-icon>&nbsp;
          Send
        </ion-button>
    </div>

    <img src="../assets/fgpswd.png" alt="">

  </div>

</ion-content>