<ion-content>
  <div class="fp-bg">
    <div class="fp-overlay">

      <div class="fp-brand">
        <ion-icon name="lock-open-outline" class="fp-brand-icon"></ion-icon>
        <h1 class="fp-brand-title">Forgot Password?</h1>
        <p class="fp-brand-sub">Enter your details and we'll send your password</p>
      </div>

      <div class="fp-card">

        <a routerLink="/" class="fp-back">
          <ion-icon name="arrow-back-outline"></ion-icon>
          Back to Login
        </a>

        <div class="fp-field">
          <ion-icon name="person-outline" class="fp-field-icon"></ion-icon>
          <ion-input placeholder="Child Name" type="text" [(ngModel)]="childName"></ion-input>
        </div>

        <div class="fp-field">
          <ion-icon name="people-outline" class="fp-field-icon"></ion-icon>
          <ion-input placeholder="Father Name" type="text" [(ngModel)]="fatherName"></ion-input>
        </div>

        <div class="fp-field fp-dob-field" (click)="picker.open()">
          <ion-icon name="calendar-outline" class="fp-field-icon"></ion-icon>
          <span class="fp-dob-label" [class.fp-dob-selected]="dobSelected">
            {{ dobSelected ? formattedDisplayDate : 'Date of Birth' }}
          </span>
          <ion-datetime #picker display-format="DD-MM-YYYY" [(ngModel)]="birthday1"
            (ionChange)="updateDate()" style="display:none">
          </ion-datetime>
          <ion-icon name="chevron-down-outline" class="fp-dob-chevron"></ion-icon>
        </div>

        <div class="fp-field">
          <ion-icon name="mail-outline" class="fp-field-icon"></ion-icon>
          <ion-input placeholder="Email Address" type="email" [(ngModel)]="email"></ion-input>
        </div>

        <ion-button expand="full" class="fp-btn" (click)="sendPassword2()">
          <ion-icon name="send-outline" slot="start"></ion-icon>
          Send Password
        </ion-button>

      </div>
    </div>
  </div>
</ion-content>
