ion-content{
    // --background:linear-gradient(120deg, rgb(229, 227, 188), rgb(30, 156, 72));
    --background: linear-gradient(120deg, #eefcfb, #e3e7e7);
      text-align: center
}

img{
    width:20%;
    // margin-top: 5%;
}

ion-item {
    // border-radius: 40px;
    margin-bottom: 05%;
}


.item.item-trns {
	// border-color: rgba(0, 0, 0, 0);
	// background-color: rgba(0, 0, 0, 0);
	color: white; 
}

.form-card{
    // background:  linear-gradient(120deg, rgb(195, 11, 241), rgb(10, 216, 206));
    // margin-top: 3vh;
    margin-left: 5%;
    margin-right: 5%;
    // border-radius: 27px;
    // box-shadow: 1px 1px 10px 1px darkgrey;
    // height: 55%;
    padding-top: 12%;
    padding-bottom: 12%;
}

#signin{
padding-top: 3vh;
font-size: 25px;
text-align: center;
// color:var(--ion-color-primary-custom);
}

ion-button {  
    // --background: linear-gradient(90deg, var(--ion-color-primary-custombutton1), var(--ion-color-primary-custombutton2));
    --background: linear-gradient(90deg, var(--ion-color-primary-custombutton1), var(--ion-color-primary-custombutton2));
}

ion-label{
    // color:var(--ion-color-primary-custom);
}

// p{
//     // color:var(--ion-color-primary-custom);
// }
// /* Hide the number input spinners */
// .no-spinner::-webkit-outer-spin-button,
// .no-spinner::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// .no-spinner {
//   -moz-appearance: textfield;
// }

