<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vaccines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <p class="section-label">Tap a vaccine to learn more</p>

  <div *ngFor="let vaccine of vaccinesData; let i = index" class="vac-row" (click)="sethidden(i)">
    <div class="vac-header">
      <div class="vac-icon-wrap">
        <ion-icon name="medical-outline"></ion-icon>
      </div>
      <span class="vac-name">{{vaccine.name}}</span>
      <ion-icon [name]="vaccine.ishidden ? 'chevron-up-outline' : 'chevron-down-outline'" class="vac-chevron"></ion-icon>
    </div>
    <div class="vac-desc" [hidden]="vaccine.ishidden">
      <p>{{vaccine.description}}</p>
    </div>
  </div>

</ion-content>
