<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button color="black"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" >Patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-row *ngFor="let child of childs" class="card-div">
  <ion-col size="4" class="img-div">
    <ion-avatar>
      <img [src]="child.Gender=='Girl' ? '../../assets/female.png' : '../../assets/male.png'">
    </ion-avatar>
  </ion-col>
    <ion-col size="8" class="name-div">
    <span style="font-weight: 600;">{{child.Name}}</span> <br>
    <span>{{calculateAge(child.DOB)}}</span> <br><span>{{child.Gender}}</span>
    <!-- <ion-button shape="round" disabled="false" size="small" 
      routerLink="vaccine/{{child.Id}}">
      Schedule
    </ion-button> -->
    <span id="button"
      routerLink="vaccine/{{child.Id}}">
      View
  </span>
  </ion-col>
  </ion-row>

 

</ion-content>